.row{   
    color:white;
    font-size:35px;
    text-align:center;
}

.headshot{
    width:20%;
   
}

.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:40px;
}

.tabs{
    letter-spacing:2px; 
    display: flex;
    justify-content:space-around;
}

body{
    font-family: 'Signika', sans-serif;
    background-color: blue;
    text-align: center;
}

h1{
    text-align: center; 
    color:white;
}

h2{
    color:white;
}

h3{
    color:white;
}

#name{
    color:black;
    font-family: 'Satisfy', cursive;
}

#fanpageImg {
    width:300px;
    height:300px; 
    background-color: black;
    border: 5px solid #ff0000;
    font-family: 'Fjalla One', sans-serif;
}

#rockImg {
    width:500px;
    height:300px;
    background-color: black;
    border: 5px solid #3333ff;
    font-family: 'Fjalla One', sans-serif;
}

#quizImg {
    width:500px;
    height:300px;
    background-color: black;
    border: 5px solid #cc33ff;
    font-family: 'Fjalla One', sans-serif;
}

#githubImg {
    width:300px;
    height:160px; 
}

#meImg {
    width:30%;
    margin-left: auto;
    margin-right: auto;
    top:0px;
    background-color: #6666ff;
    border: 5px solid #3333ff;
}

#logoImg {
    width:370px;
    height:100px;
    top:0px;
    padding: 5px;
    background-color: #6666ff;
    border: 5px solid #3333ff;
}

#aboutBody {
    bottom:1px ;
    top:0px;
    background-color: #6666ff;
}

#schoolImg {
    width: 300px;
    height: 300px;
}

 p {
    color:white;
}

#playlistImg {
    width:500px;
    height:300px; 
    background-color: black;
    border: 5px solid #42f477;
    font-family: 'Fjalla One', sans-serif;
}